<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="scan">
      <ion-icon class="red" name="scan"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="save">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Save</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rewards">
      <ion-icon name="ribbon-outline"></ion-icon>
      <ion-label>Rewards</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>