.banner{
    position: relative;
    text-align: center;
    margin-top: -5px;
}

.banner_reward{
    position: absolute;
    top: 8px;
    left: 12px;
    color: white;
    font-size: 20px;
}

.banner_points{
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
    font-size: 16px;
}

.swpstk{
    margin-left: 5px;
    margin-top: 0px;
    padding: 2px;
    box-shadow: 3px 3px lightgray;
}

.description{
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: -12px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: -8px;
    margin-bottom: 25px;
  }

.giftcard{
    padding: 2px;
}
